* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Nexttelecom Basis;
  font-weight: 400;
  background-color: #1d2533;
  color: #e8e9ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-display: swap;
  font-family: Nexttelecom Basis;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Nexttelecom-Basis-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Nexttelecom Basis;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Nexttelecom-Basis-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Nexttelecom Basis;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Nexttelecom-Basis-Regular.woff') format('woff');
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}
